/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.63;
    background-color: #000000;
    color: #ffffff;
}

header{
    box-shadow: 0 1px 5px#ffffff;
    position: absolute;
    left: 50px;
    margin-bottom: 10%;
}

header h1{
    display: flex;
    padding: 0 10px 5px 10%;
}

a {
    text-decoration: none;
}

ul li{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(101, 101, 101);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.home{
    margin-left: 500px;
}

h1, h2 {
    color: #ffffff;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
